h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75em;
}

hr {
    border-top-width: 2px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 0;
}

.grid-item {
    border: 1px solid #61dafb;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.inner-grid-item {
    background-color: #0cf232;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.inner-grid-opponent-hit {
    background-color: #d21919;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.inner-grid-opponent-missed {
    background-color: #f96f6f;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.inner-grid-player-hit {
    background-color: #7c0000;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.inner-grid-player-missed {
    background-color: #676767;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.inner-grid-item.draggable {
    background-color: #0db328;
}

.clickable:hover {
    cursor: pointer;
    background-color: #1c1e22;
}

/* boat direcitons */
/* horizontal */
div .double.right,
div .double.left {
    width: 80px;
}

div .triple.right,
div .triple.left {
    width: 120px;
}

div .quadruple.right,
div .quadruple.left {
    width: 160px;
}

/* vertical */

div .double.up,
div .double.down {
    height: 80px;
}

div .triple.up,
div .triple.down {
    height: 120px;
}

div .quadruple.up,
div .quadruple.down {
    height: 160px;
}

#boat1,
#boat2,
#boat3, 
#boat4 {
    margin: 10px;
}

#userFormPosition {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#userName {
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 20px;
    width: 200px;
}

#fightBtn {
    width: 80%;
    border: 1px solid black;
    background-color: #9d0505;
    border-radius: 10px;
    color: white;
    height: 40px;
    font-size: 20px;
    line-height: initial;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

#fightBtn:disabled {
    background-color: #5d0303;
    color: rgba(255, 255, 255, 0.63);
}

#avatarSelect {
    position: absolute;
    top: 30px;
    left: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.avatar {
    padding: 15px;
}

.avatar-btn {
    padding: 0;
    border: 2px solid red;
    border-radius: 50%;
    background-color: red;
}

.avatar-btn-selected {
    padding: 0;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
}


.avatarImg {
    height: 110px;
}

.avatar > input {
    display: none;
}

.avatar > input[type="radio"]:not(:checked) + .avatarImg {
    position: relative;
    border: 3px solid #ff0000;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar > input[type="radio"]:checked + .avatarImg {
    position: relative;
    border: 2px solid greenyellow;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    z-index: +100;
}

#one {
    background: url("../src/assets/images/onepieceavatars-modified\ 1.png");
}

#two {
    background: url("../src/assets/images/onepieceavatars-modified\ \(1\)\ 1.png");
}

#three {
    background: url("../src/assets/images/onepieceavatars-modified\ \(2\)\ 1.png");
}

#four {
    background: url("../src/assets/images/onepieceavatars-modified\ \(3\)\ 1.png");
}

#five {
    background: url("../src/assets/images/onepieceavatars-modified\ \(5\)\ 1.png");
}

#six {
    background: url("../src/assets/images/onepieceavatars-modified\ \(6\)\ 1.png");
}

#seven {
    background: url("../src/assets/images/onepieceavatars-modified\ \(4\)\ 1.png");
}

#eight {
    background: url("../src/assets/images/onepieceavatars-modified\ \(7\)\ 1.png");
}

#homePage {
    background: url("../src/assets/images/image 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    width: 100%;
    position: fixed;
}

#homePageText {
    padding-top: 20px;
    padding-right: 120px;
}

#of {
    position: relative;
    left: 110px;
}

#homePageText h1 {
    font-size: 70px;
    color: #9d0505;
    margin: 0;
    font-family: "IM Fell English", serif;
}

#waitingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9d0505;
    font-family: "IM Fell English", serif;
}

#waitingText h1 {
    font-size: 50px;
}

.waiting {
    width: 300px;
    margin: auto;
}

.waiting h4 {
    display: flex;
    justify-content: center;
}

.replay-loading {
    margin-top: 150px;
}

.ship-colors {
    border: 1px solid white;
    background-color: #61dafb;
}

.bg-gameboard {
    background-color: #282c34;
}

.ready-btn {
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

.ready-btn-green {
    background-color: black;
    border: 1px solid green;
    color: green;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

#rotate-btn {
    margin: auto;
    border: 1px solid white;
    background-color: #9d0505;
    height: 50px;
    width: 50px;
}

.black-border {
    border: 1px solid black;
}

.i {
    width: 14px;
}

#gameboardSize {
    height: 400px;
    width: 400px;
}

.w-400 {
    width: 400px;
}

.h-100px {
    height: 100px;
}

#playFieldPosition {
    margin: auto auto;
}

#nmrPosition {
    position: relative;
    left: 40px;
}

.fourSquareShip {
    width: 170px;
}

.threeSquareShip {
    width: 130px;
}

.twoSquareShip {
    width: 90px;
}

.waiting h4 {
    padding-left: 20px;
    font-family: "IM Fell English", serif;
    font-weight: bold;
    color: #000000db;
}

.game-wrapper {
    width: 100%;
}

.players {
    display: flex;
    justify-content: space-around;
}

.players img {
    max-width: 100%;
    max-height: 100%;
}

.player,
.opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.outer-player,
.outer-opponent {
    display: flex;
    align-items: center;
}

.outer-player {
    flex-direction: row;
}

.outer-opponent {
    flex-direction: row-reverse;
}

.player-image {
    border: 2px solid green;
    border-radius: 50%;
}

.opponent-image {
    border: 2px solid red;
    border-radius: 50%;
}

.boat-setup {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid #61dafb;
    flex-wrap: wrap;
    width: 250px;
    min-height: 64px;
}

input {
    outline: none !important;
}

#chat-div {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat {
    width: 230px;
    background: #282c34;
    border-radius: 15px;
}

#messages-wrapper {
    height: 300px;
    overflow: scroll;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.message {
    word-break: break-word;
}

.messageTime {
    width: 40px;
    font-size: 0.5rem;
    padding: 2px;
}

.messageUsername {
    font-weight: bold;
    padding-right: 5px;
}
  
#messageBar {
    width: 80%;
    border-radius: 0px 0px 0px 10px;
    border-width: 0px;
}
  
#sendMessageBtn {
    width: 20%;
    border-radius: 0px 0px 10px 0px;
    border-width: 0px;
    outline: none !important;
}
  
.endgame-wrapper {
    width: 100vw;
    height: 100vh;
}

.endgame-background-image {
    height: 100vh;
    background-size: cover;
    background-image: url("../src/assets/images/endgame-background.jpg");
}

.winner-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}

.winner-frame h3 {
    margin: 0px;
    color: white;
}

.winner-image {
    border: 2px solid white;
    border-radius: 50%;
}

.play-again-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.transparent-background-red {
    margin: auto;
    padding: 50px;
    width: 345px;
    height: 320px;
    background-color: #ff00006e;
    border-radius: 50%;
}

.transparent-background-green {
    margin: auto;
    padding: 50px;
    width: 345px;
    height: 320px;
    background-color: #2cff006e;
    border-radius: 50%;
}

.play-again-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #9d0505;
    border: 1px solid black;
    border-radius: 10px;
    line-height: initial;
    cursor: pointer;
}

.back-startpage {
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px;
    font-size: 20px;
    color: white;
    background-color: #9d0505;
    border: 1px solid black;
    border-radius: 10px;
    line-height: initial;
    cursor: pointer;
}

.back-icon {
    margin-right: 5px;
}
.previewboat {
    height: 30px;
    background-color: green;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.boatLength1 {
    width: 60px;
}

.boatLength2 {
    width: 80px;
}

.boatLength3 {
    width: 120px;
}

.subpart {
    flex: 1;
}

.hit {
    background-color: red;
}

#musicDiv {
    position: absolute;
    bottom: 5%;
    right: 2%;
    transform: translate(-50%, -50%);
    height: 30px;
}

#playBtn {
    height: 100%;
}

#muteBtn {
    height: 100%;
}
.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirect h3 {
    margin-top: 50px;
}
